replicaCount: 1

image:
  repository: pdr.jonbesga.com/relationshiptimelines-web
  tag: "20260112163004"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

containerPort: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

ingress:
  enabled: true
  className: ""
  annotations:
    external-dns.alpha.kubernetes.io/hostname: jon.relationshiptimelines.nomaitech.com
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
  hosts:
    - host: jon.relationshiptimelines.nomaitech.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
